* {
    font-family: "Comic Sans MS", cursive;
}

h1 {
    font-size: 50px;
}

.ingrediente {
    margin-top: 5px;
}

.modo-de-preparo {
    margin: 10px 50px 0 20px;
    text-align: justify;
}

.border {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f8d814;
    margin: 20px;
    padding: 12px;
}

.container {
    background-color: #eae8eb;
    padding: 50px;
    margin: 10px;
    border: 2px solid black;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}
