* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgoldenrodyellow;
}

h1 {
    margin-left: 30px;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 10px;
}
